* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  scroll-margin: 2rem;
}

:root {
  --bg-primary: #242424;
  --bg-secundary: #fff;
  --bg-primary-scale: #646464;
  --title-color: #fff;
  --subtitle-color: #dddcdc;
  --txt-color: #adadad;
  --main-width: 65%;
  --main-height: 70vh;
  --action-color: #ee609c;
  --action-hover: #00c9b7;
  --gradient: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
}

/* ========== HEADER ========== */

.header-container {
  background-color: var(--bg-primary);
  width: 100%;
  position: fixed;
}

.header {
  margin: auto;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
  width: var(--main-width);
}

.logo-link {
  color: var(--title-color);
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 2rem;
}

.list-link {
  color: var(--title-color);
  text-decoration: none;
}

.list-item {
  border-bottom: 1px solid transparent;
}

.list-item:hover {
  border-bottom: 1px solid var(--bg-secundary);
}

/* ========== HEADER END ========== */

/* ========== HOME ========== */

.home-container {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  min-height: var(--main-height);
}

.home {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
  width: var(--main-width);
}

.home-title {
  display: flex;
  flex-direction: column;
}

.greeting {
  color: var(--txt-color);
  font-size: 1.75em;
}

.name {
  color: var(--title-color);
  font-size: 2.75em;
  font-weight: bold;
}

.frontend {
  font-size: 2em;
  font-weight: 700;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-list {
  display: flex;
  list-style: none;
  margin-top: 1.5rem;
  gap: 1.25rem;
  align-items: center;
}

.social-list-item {
  display: flex;
  align-items: center;
}

.social-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.social-img {
  width: 30px;
}

.resume-link {
  display: flex;
  align-items: center;
  background: var(--gradient);
  color: var(--title-color);
  border-radius: 15px;
  border: none;
  padding: 0.25rem 0.5rem;
  font-weight: 900;
  text-align: center;
  transition: all ease 0.3s;
  text-decoration: none;
}

.resume-link:hover {
  background: var(--title-color);
  color: var(--action-color);
}

.resume-span {
  margin: 0 auto;
}

.resume-logo {
  width: 23%;
  align-self: center;
}

.img-photo {
  width: 300px;
}

.img-container {
  background-color: var(--bg-secundary);
  width: fit-content;
  border-radius: 750px 650px 600px 450px;
}

/* ========== HOME END ========== */

/* ========== PROJECTS ========== */

.projects-container {
  background: var(--bg-primary-scale);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: grid;
  width: var(--main-width);
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  gap: 2.5rem;
  margin: 2rem 0;
}

.projects-title {
  font-size: 2em;
  color: var(--title-color);
  width: var(--main-width);
  margin-top: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 20px;
  background-color: var(--bg-primary);
}

.project-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  min-height: 225px;
  padding-inline: 1rem;
}

.project-img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.project-img:hover {
  opacity: 0.4;
}

.project-title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 1.5em;
  margin: auto;
}

.links-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-link {
  text-decoration: none;
  width: 100%;
  display: flex;
}

.project-subtitle {
  color: var(--subtitle-color);
}

.project-description {
  text-align: center;
  color: var(--txt-color);
  font-size: 0.9em;
}

.project-stack {
  display: flex;
  list-style: none;
  color: #fff;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.stack-technology {
  display: flex;
  align-items: center;
}

.stack-img {
  width: 24px;
}

.firebase {
  height: 25.6px;
}

/* ========== PROJECTS END ========== */

/* ========== ABOUT ME ========== */

.aboutme-container {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var(--main-height);
}

.aboutme {
  background-color: var(--bg-primary-scale);
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  width: var(--main-width);
  padding: 2rem;
  border-radius: 30px;
}

.aboutme-p {
  background-color: var(--bg-primary-scale);
  color: var(--title-color);
  font-size: 1.2em;
}

.aboutme-img {
  background-color: var(--bg-primary);
  border-radius: 750px 1230px 800px 450px;
  opacity: 0.95;
}

.aboutme-img-container {
  background: var(--gradient);
  border-radius: 720px 340px 450px 650px;
}

/* ========== ABOUT ME END ========== */

/* ========== TECH STACK ========== */

.techstack-container {
  background-color: var(--bg-primary-scale);
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: var(--main-height);
}

.techstack-title {
  font-size: 2em;
  color: var(--title-color);
  width: var(--main-width);
  margin: 2rem 0;
}

.techstack {
  background-color: var(--bg-primary);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 3rem;
  align-items: center;
  width: var(--main-width);
  padding: 2rem;
  border-radius: 30px;
  margin: 1rem 0 4rem;
}

.techstack-icon {
  width: 40px;
  margin: 0 auto;
}

/* ========== TECH STACK END ========== */

/* ========== CONTACT ========== */

.contact-container {
  background-color: var(--bg-primary);
  height: 12rem;
  display: flex;
  min-height: 80vh;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.5em;
  width: var(--main-width);
  color: var(--title-color);
  margin-bottom: 1rem;
}

.contact-list {
  margin: 2rem 0;
  gap: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact-social {
  margin: 0;
}

.resume-contact {
  font-size: 0.5em;
}

.form-container {
  margin: 2rem 0;
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.form-label {
  font-size: 0.8em;
}

.form-input {
  outline: none;
  border-radius: 15px;
  border: none;
  padding: 0.5rem;
}

.form-textarea {
  outline: none;
  border-radius: 15px;
  border: none;
  padding: 0.5rem;
  margin: 2rem 0;
}

.form-button {
  width: 25%;
  cursor: pointer;
  margin: auto;
  background: var(--gradient);
  color: var(--title-color);
  border-radius: 15px;
  border: none;
  padding: 0.25rem 0.5rem;
  font-weight: 900;
  text-align: center;
  transition: all ease 0.3s;
  text-decoration: none;
}

.form-button:hover {
  background: var(--bg-secundary);
  color: var(--action-color);
}

/* ========== CONTACT END ========== */

/* ========== MQ ========== */

@media screen and (max-width: 1040px) {
  .img-container {
    display: none;
  }

  .aboutme-p {
    font-size: 1em;
  }
}

@media screen and (max-width: 930px) {
  .aboutme-p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 770px) {
  :root {
    --main-width: 95%;
  }

  .projects {
    width: 80%;
  }

  .contact-list {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 530px) {
  .aboutme-container {
    min-height: 40vh;
  }

  .aboutme-img {
    display: none;
  }

  .header {
    justify-content: center;
    background-color: var(--bg-secundary);
  }

  .list-link {
    color: #000;
    font-weight: 700;
  }

  .logo {
    display: none;
  }

  .home-container {
    min-height: 50vh;
  }

  .header-container {
    bottom: 0;
    background-color: var(--bg-secundary);
  }

  .contact-container {
    min-height: 100vh;
  }

  .contact-list {
    margin: 0;
  }

  .input-container {
    flex-direction: column;
    align-items: start;
  }
}

@media screen and (max-width: 400px) {
  .nav-list {
    gap: 0.8rem;
  }
}
